<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <style>
            
        </style>
    </head>
    <body>
        <div id="root"><!-- this is the div Vue is being bound to -->
            
            {{foo}} </br><!-- another way to look at this is as essentially an echo message, it simply prints out whatever is in the "foo" item. -->
            {{name}} </br></br>
            
            <li v-for="name in names">{{name}}</li> <!-- this is essentially a for loop, it will print out each "name" in "names" 
                                             (for 'for (x in y)' loops, 'x' doesn't actually need to be an existing element name, but y needs to be the name of the array/object.) -->
            
            <!-- alternatively, <li v-for="name in names" v-text="name"></li> does the same thing. "v-text" is similar to {{ }} -->
            
            <input id="input" type="text"> <!-- input field, for the purposes of this exercise, we aren't using Vue stuff to grab it really -->
            <button id="button">Add Name</button> <!-- button that will call a push to the names list, which will by dynamically updated both in code and on-screen by Vue -->
        </div>
        
         <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script>
        
        var app = new Vue ({ //new Vue instance, in this case, the Vue instance can be referenced as a variable named "app" now. 
            
            el: '#root', //vue bound to "root" div
            
            data: {
                
                foo: 'bar',
                
                name: 'joe',
                
                names: ['Joe','Mary','Jane','Jack'],
                
            },
            
            mounted() { //mounted is a special method that is triggered as soon as the Vue instance is mounted/initialized.
                
                document.querySelector('#button').addEventListener('click',()=>{
            
            let name = document.querySelector('#input');
            
            app.names.push(name.value);
            
            name.value='';
                });  
            }
            
        });
        
        
       
         </script>
    </body>
</html>