<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <style>
            
        </style>
    </head>
    <body>
        <div id="root"><!-- this is the div Vue is being bound to -->
        
            <input type="text" id="input" v-model="message"> <!-- v-model and other "v-" things are Vue directives. v-model is specific to form inputs. -->
            
            <p>The value of the input is: {{message}}.</p><!-- double curly brackets identify a property that exists. this is automatically dynamically updated --> 
            
        </div>
        
        <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script>
            let data = {
                message: 'Hello World'
            };
            
            new Vue({ //create a new Vue instance, that does stuff
                
                el: '#root', //binds "element" of id "root" to this Vue instance, Vue only works inside bound areas.
                        //an important thing to note, Vue uses commas instead of semicolons most of the time.
                
                data: data //data to be bound to the element, in this case the data is the data object created above the Vue instance.
                    //alternatively, instead of having an externally created object, message could be defined in the data: element as:
                        // data: { message:'Hello World' }
                
            });
        </script>
    </body>
</html>