<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <style>
            
        </style>
    </head>
    <body>
        <div id="root"><!-- this is the div Vue is being bound to -->
            
            <li v-for="name in names" v-text="name"></li><!-- since this is a form input, might as well use v-model to add names in -->
            
            <input id="input" type="text" v-model="newName"> <!-- input field, for the purposes of this exercise, we aren't using Vue stuff to grab it really -->
            <button v-on:click="addName">Add Name</button> <!-- button that also listens to event listener using 'v-on' directive. directives use an "argument" (the bit after the colon) -->
                                                <!-- the argument may also require arguments, in this case, a method named addName -->
                                                <!-- 'v-on:' can be shorthanded to '@'. so instead of 'v-on:click', '@click' works the same. -->
        </div>
        
         <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script>
        
        var app = new Vue ({ //new Vue instance, in this case, the Vue instance can be referenced as a variable named "app" now. 
            
            el: '#root', //vue bound to "root" div
            
            data: {//remember, all data items, including newName added by the form input, and the existing names need to be stored in here
                
                newName: '',
                
                names: ['Joe','Mary','Jane','Jack'],
                
            },
            methods: { // the methods object is where all custom methods should be placed.
            
                addName() {
                    this.names.push(this.newName); // grabs "names" that exists in 'this' element, and pushes/adds the value of 'newName', which also exists in 'this' element.
                                                    //and by exists in 'this' element, I mean in the context of the Vue element.
                    this.newName=''; //this clears the entry field, since the input field "input" is also bound to the v-model id of "newName", setting it to blank empties it out.
                }
                
            },
            
            //All of this has been replaced by the v-on:click="addName" stuff added to the button, the newName data enry, and the addName method.
            /*
            mounted() { //mounted is a special method that is triggered as soon as the Vue instance is mounted/initialized.
                
                document.querySelector('#button').addEventListener('click',()=>{ 
            
                let name = document.querySelector('#input');
            
                app.names.push(name.value);
            
                name.value='';
                    });  
            }
            */
            
        });
        
        
       
         </script>
    </body>
</html>