<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <style>
            
        </style>
    </head>
    <body>
        <div id="root"><!-- this is the div Vue is being bound to -->
            {{reversedMessage}}
            <!--don't force complicated tasks into the v-text, such as data filtering. it's too messy -->
            </br> </br>
            
            <ul>
                <li v-for="task in tasks" v-text="task.description"></li>
                <!-- for each item that we will refer to as a "task" in array "tasks", set the text to the "description" of that "task" -->
                </br></br>
                <h2>Completed tasks, via in-line v-if</h2>
                <li v-for="task in tasks" v-if="task.completed==true" v-text = "task.description"></li>
                <!-- to see only completed tasks, we can use a conditional, or use v-if and v-else if necessary. -->
                <!-- how this works, is that it does the v-statements from left to right, so it's essentially saying, "if <condition> then set v-text" -->
                </br></br>
                <!-- alternatively, we can use a computed property, as is used for the list item below. -->
                <h2>Incomplete Tasks, via computed propery</h2>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
                
                <!-- all of these are still dynamic, and can be updated and what-not through changing one of the attributes, e.g. setting one to true instead of false, ore vice veras -->
            </ul>
            
        </div>
        
         <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script>
        
        var app = new Vue ({ //new Vue instance
        //this vue example is for computative arrays
            
            el: '#root', //vue bound to "root" div
            
            data: {
                
                
                
                
                message: 'Hello World',
                
                tasks: [ // an object array that is a collection of "tasks", each of which has a description and a completed value.
                    
                    { description: 'Go to store',       completed: true},
                    { description: 'Finish homework',   completed: false},
                    { description: 'Make dinner',       completed: true},
                    { description: 'Check e-mail',      completed: false},
                    { description: 'Organize stuff',    completed: false},
                    { description: 'Pet noodles',       completed: true}
                    
                    ],
            },
            
            computed:{ //computed section is for doing computations, such as reversing 'message' basically an area for functions.
                
                reversedMessage(){ //this is known as a computed property, it isn't technically a function.
                    return this.message.split('').reverse().join('');
                } ,              // splits message into an array by each char, reverses the array, and joins the array without separating characters
                
                
                incompleteTasks() { //for an input task, see if the task is completed, if it isn't, return it.
                
                    return this.tasks.filter(task => ! task.completed); //this is the ES6 aka ES2015 synax
                    
                    /* //this is the standard syntax before ES6
                    this.tasks.filter(function (task) {
                        return ! task.completed;
                    }),
                    */
                }
                
                
                
            }
            
        });
         </script>
    </body>
</html>