<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css"><!-- get Bulma stuff -->
        <style>
            
        </style>
    </head>
    <body>
        <!-- this example is for in-line templates. -->
        <!-- basically one-off components that are really only needed for a specific page, not really something that should be re-used over and over -->
        <!-- this can help when you just need a simple component, which helps when working with massive javascript files that handle tons of other components as well. -->
        <div id="root" class="container"><!-- this is the div Vue is being bound to -->
            
            <progress-view inline-template> <!-- the inline-template attribute allows us to have the progress-view tags just defined here, instead of creating a template in the JS page. -->
            <!-- one thing to note, is that items inside the inline template need to be nested. this is because the template tag is like constructing a component in the JS file, errors
                will occur if there are top-level siblings. so this <div> tag is needed to prevent that complaint from Vue. -->
                <div>
            
                    <h1>Your progress through the course is {{ completionRate }}%</h1> <!-- this is an example of something that you may not want stored in the javascript, but is just something to be displayed. -->
                    
                    <p><button @click="completionRate +=10">Update Completion</button></button></p>
                    
                </div>
            </progress-view>
        </div>
        
         <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script src="jsFiles/vue.15.js"></script>
    </body>
</html>