<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css"><!-- get Bulma stuff -->
        <style>
            body {
                padding-top: 40px;
            }
        </style>
    </head>
    <body>
        <div id="root"><!-- this is the div Vue is being bound to -->
        <!-- this is an example of component communication, using various event emitters and listeners. -->
        <!-- this covers both parent-child communication and limitations, as well as more generalized communication that doesn't suffer those limitations. -->
            <coupon v-on:applied="onCouponApplied"></coupon>
            
            <h1 v-if="couponApplied">You used a coupon!</h1>
        </div>
        
         <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script src="jsFiles/vue.12-13.js"></script>
    </body>
</html>