<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css"><!-- get Bulma stuff -->
        <style>
            
        </style>
    </head>
    <body> <!-- this example expands on some things bulma presents. in this case a "modal" -->
        <div id="root" class="container"><!-- this is the div Vue is being bound to -->
        
            <modal v-if="showModal" @close="showModal = false">
                
                <p>
                    This is a paragraph to show stuff relating to modals. Its content in
                    its entirety is irrelevant, it is simply to take up space as to show
                    how it is displayed in relation to the modal device.
                </p>
            </modal><!-- we have a custom designed tag, and should only be displayed if "showModal" is true. -->
                    <!-- in this, instead of using an "official" event, like @click, we define that if the modal announces that it is closed, set the showModal property to false-->
            
            <button @click="showModal=true">Show Modal</button>
        
        </div>
        
        <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script> <!-- get Vue package -->
        <script src="main.js"></script>
        
    </body>
</html>